.Header {
    height: 100vh;
    background:$firstColor;
    @include var(background, firstColor);
    color:#fff;

    &__buttonmenu {
        position: absolute;
        right:0;
        margin-top: 1rem;
        margin-right: 1rem;
        width:40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color:#000;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;

        @include from(medium) {
            display: none;
        }
    }

    &__infocontainer {
        height: calc(100vh - 38px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

