.Portafolio {
    padding-bottom: 4rem;
    padding-top: 4rem;
    // background: $secondColor;
    // @include var(background, secondColor);
    
    &__title {
        color:#fff;
        margin-left: auto;
        margin-right: auto;
    }
    
    &__trabajoContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        @include from(medium) {
            display: flex;
            flex-direction: row;

            &:nth-child(2n) {
                flex-direction: row-reverse;
            }
        }
        
    }

    &__imageContainer {
        margin: 0;
    }
    
    &__imageContainer {
        @include from(medium) {
            width: 50%;
        }
    }

    &__image {
        object-fit:cover;
        height: 100%;
    }

    &__info {
        padding: 1rem 1.7rem;
        background: $secondColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include var(background, secondColor);

        @include from(medium) {
            width: 50%;
        }
    }

    &__trabajoTitle, &__trabajoDescripcion {
        margin-bottom: .8rem;
    }

    &__trabajoBoton {
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding:1rem 1.2rem;
        color:#fff;
        text-decoration: none;
        background: $buttonColor;
        @include var(background, buttonColor);
    }
}