.Sobremi {
    margin-bottom: 4rem;
    @include from(medium) {
        width: 70%;
        justify-self: center;
    }
    
    @include from(large) {
        width: 100%;
        justify-self: start;
        margin-bottom: 0;
    }

    &__descripcion {
        @include from(large) {
            text-align: left;
        }
    }

    &__title {
        margin-left: auto;
        margin-right: auto;
        @include from(large) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__boton {
        display: table;
        padding:1rem .8rem;
        border-radius: 12px;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-top: 20px;
        background: $buttonColor;
        @include var(background, buttonColor);
        color:#fff;

        @include from(large) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}